.DS_Store
.classpath
.gradle/
.project
.settings/
.idea/
.xml/
.swp
bin/
out/
build.properties
build/
dist/
exploded-archives/
target/
local/

**/*.ids
**/*.ipr
**/*.iws
*.iml
*.pyc

bower_components/